<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>todolist</title>
    </head>

    <body>
        <h1>My todolist</h1>

        <ul>
            <li></li>
        </ul>

        <form action="/todo/add/" method="post">
            <p>
                <label for="new">New todo item</label>
                <input type="text" name="newtodo" id="newtodo" />
                <input type="submit" />
            </p>
        </form>
    </body>
</html>