<!DOCTYPE html>

<html>
    <head>
        <title>todolist</title>
    </head>

    <body>
        <h1>My todolist</h1>

        <ul>
        
            <li></li>
        </ul>

        <form action="/todo/add/" method="post">
            <p>
                <label for="new">New todo item</label>
                <input type="text" name="new" id="newtodo" />
                <input type="submit" />
            </p>
        </form>
    </body>
</html>